{% extends "base.html" %}
{% load staticfiles data_explorer_tags %}

{% block head_meta %}
  {% head_meta title="BLS Info" description="BLS Info, the Contract-Awarded Labor Category tool" %}
  
  
{% endblock %}

{% block body_class %}content--skinny{% endblock %}

{% block body %}
<style>
   /* .assist-textBox{
   } */
   .required{
      color:red;
   }
   .box_custom{
      width: 80%;
      margin: 0% 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
   }
   .box_custom .box-content{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
   }
   .box_custom .box-content .eachfield{
      width: 100%;
      margin-bottom: 10px;
   }
   .box_custom .box-content .eachfield .readonly input{
      border:none;
   }
   .box_custom .box-content .eachrows{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width:100%
   }
   .box_custom .box-content .eachrows .labelList{
      width: 25%;
   }
   .box_custom .box-content .eachrows .valueList{
      width: 65%;
   }
   .valueList{
      position: relative;
   }
   .valueList .loader_item{
      width:30px;
      height: 30px;
      background: url('https://thumbs.gfycat.com/RelievedSilentArcticwolf-small.gif');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      transform: translate(-50%,-50%);
      right:0;
      top: 50%;
   }
   .box_custom .box-content .button_submit{
      width: 80%;
      margin: 0px 10%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
   }
   .box_custom .box-content .eachfield input{
      width: 100%;
   }
   select[disabled=true]{
      background: #dbdbdb;
   }
   
   
   .bls_result .result_header{
      width: 100%;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .bls_result .gobackbtn{
      float: right;
      margin-right: 50px;
   }
   .warnningbanner{
      width: 90%;
      margin: auto;
      height: 200px;
      position: relative;
      border: 8px solid #2d4d59;
   }
   .warnningbanner h3{
      padding: 0;
      margin: 0;
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
      width: 100%;
      height: auto;
      margin: 0 auto;
      text-align: center;
   }
   .errorText{
      font-size: 12px;
      color:red;
   }
</style>
<div class="container">
<div class="row">
  
  <div class="card" style="position: relative;">

   <form class="primary_form hidden"  autocomplete="off" onsubmit="return validatePrimary(this)">
      <div class="box box_custom" >
         <div class="box-title">Pricing Control Information</div>
         <div id="" class="box-content">
            
   
            <div class="eachfield">
               <div class="left column labelList " id="price_module_title_lable">
                  <label for="price_module_title">Title<span class="required">*</span></label>
               </div>
               <div class="left column valueList ">
                  <input id="price_module_title" type="text" name="price_module_title" required>
               </div>
            </div>
            <input id="cpetId" type="hidden" name="cpetId" value="105495">
            <div class="eachfield">
               <div class="left column labelList " id="task_order_id_lable">
                  <label for="task_order_id">Id Number<span class="required">*</span></label>
               </div>
               <div class="left column valueList ">
                  <input id="task_order_id" type="text" name="task_order_id" required>
               </div>
            </div>
            <div class="eachfield">
               <div class="left column labelList " id="igce_name_label">
                  <label for="igce_name">IGCE Requester Name<span class="required">*</span></label>
               </div>
               <div class="left column valueList ">
                  <input id="igce_name" type="text" name="igce_name" required>
               </div>
            </div>
            <div class="eachfield">
               <div class="left column labelList " id="contract_family_label">
                  <label for="contract_family">Contract Family</label>
               </div>
               <div class="left column valueList readonly">
                  <select id="contract_family" name="contract_family" required>
                     <option value="">Choose one...</option>
                     <option value="OASIS" >OASIS</option>
                     <option value="OASIS_SB">OASIS SB</option>
                  </select>
               </div>
            </div>
            <div class="eachfield">
               <div class="left column labelList" id="selectContractYear_lable">
                  <label for="selectContractYear">Contract Year<span class="required">*</span></label>
               </div>
               <div class="left column valueList">
                  <select id="selectContractYear" name="selectContractYear" required>
                     <option value="">Choose one...</option>
                     <option value="1" selected="selected">Base</option>
                     <option value="2">2</option>
                     <option value="3">3</option>
                     <option value="4">4</option>
                     <option value="5">5</option>
                     <option value="6">6</option>
                     <option value="7">7</option>
                     <option value="8">8</option>
                     <option value="9">9</option>
                     <option value="10">10</option>
                  </select>
               </div>
            </div>
   
            <div class="eachfield">
               <div class="left column labelList " id="no_of_years_label">
                  <label for="no_of_years">Number of Years</label>
               </div>
               <div class="left column valueList readonly">
                  <input id="no_of_years" type="text" value="5" name="no_of_years" readonly >
               </div>
            </div>
   
            <div class="eachfield">
               <div class="left column labelList " id="created_date_label">
                  <label for="created_date">Creation Date</label>
               </div>
               <div class="left column valueList readonly">
                  <input id="created_date" type="text" value="06/04/2020, 00:00:00 AM" name="created_date" readonly >
               </div>
            </div>
            <div id="columns" class="eachfield">
               <div class="left column labelList " id="comments_top_label">
                  <label for="comments_top">Comments</label>
               </div>
               <div class="left column valueList ">
                  <textarea id="comments_top" name="comments_top" style="height: 100px;" rows="3" maxlength="2000"></textarea>
               </div>
            </div>
            <div id="columns" class="button_submit">
               <button id="launchbtn" type="submit" class="ux-btn ux-btn-primary pull-right">Launch Price Index Tool</button>
            </div>
         </div>
      </div>
   </form>

   <form class="secondary_form" autocomplete="off" onsubmit="return validateSecondary(this)">
      <div class="box box_custom" >
         <div class="box-title">Price Estimating Tool</div>
         <div id="" class="box-content">
            <div class="eachfield">
               <div id="selectOccupation_label">
                  <label for="selectOccupation">Occupation<span class="required">*</span></label>
               </div>
               <div class="left column valueList ">
                  <select id="selectOccupation" name="socCode" disabled="true" required onchange="getLACTTitle(this),createMSA(this)">
                  </select>
                  <div id="selectOccupation_error" class="errorText ">
                  </div>
               </div>
            </div>
   
            <div class="eachfield">
               <div id="fldLcatTitle_label">
                  <label for="fldLcatTitle">LCAT Title</label>
               </div>
               <div class="left column valueList ">
                  <input type="text" readonly id="fldLcatTitle">
                  <input type="hidden" id="fldLcatValue">
               </div>
            </div>
   
            <div class="eachfield">
               <div id="selectEnqLevel_label">
                  <label for="selectEnqLevel">E &amp; Q Level<span class="required">*</span>
               </div>
               <div class="left column valueList ">
                  <select onchange="createIndirectRateLevel(this)" required disabled="true" id="selectEnqLevel" name="eqLevel">
                     
                  </select>
                  <div id="selectEnqLevel_error" class="errorText ">
                  </div>
               </div>
            </div>
   
   
            <div class="eachfield">
               <div id="selectIndirectRateLevel_label">
                  <label for="selectIndirectRateLevel">Indirect Rate Level<span class="required">*</span></label>
               </div>
               <div class="left column valueList ">
                  <select required id="selectIndirectRateLevel" onchange="filleIndirectRateDisplay(this)" disabled="true" name="markupPercent" >
                     <option value="">Choose one...</option>
                  </select>
                  <input type="hidden" name="IndirectRateLevelDisplay" id="IndirectRateLevelDisplay">
                  <div id="selectIndirectRateLevel_error" class="errorText ">
                  </div>
               </div>
            </div>
   
            <div class="eachfield">
               <div id="selectState_label">
                  <label for="selectState">State<span class="required">*</span></label>
               </div>
               <div class="left column valueList ">
                  <select name="selectState" disabled="true" required id="selectState">
                     <option value="">Choose one...</option>
                  </select>
                  <div id="selectState_error" class="errorText ">
                  </div>
               </div>
            </div>
   
            <div class="eachfield">
               <div id="selectMsa_label">
                  <label for="selectMsa">MSA<span class="required">*</span></label>
               </div>
               <div class="left column valueList ">
                  <select onchange="getWageScaleOptions(this.value,this)" disabled="true" required id="selectMsa" name="msa" >
                  </select>
               </div>
            </div>
   
            <div class="eachfield">
               <div id="msaAreaDefLink_label">
                  <label for="msaAreaDefLink"></label>
               </div>
               <div class="left column valueList ">
                  <a id="msaAreaDefLink" class="assist-long-item" href="Javascript:fnOpenSelectedMSAAreaDef()">View MSA Area Definition</a>
                  <div id="msaAreaDefLink_error" class="errorText ">
                  </div>
               </div>
            </div>
   
            <div class="eachfield">
               <div class="left column labelList " id="radioWageScaleOption_label">
                  <label for="radioWageScaleOption">Wage Scale Options<span class="required"></span></label>
               </div>
               <div class="left column valueList ">
                  <table>
                     <tr>
                        <td>&nbsp;</td>
                        <td>Junior</td>
                        <td>Journeyman</td>
                        <td>Senior</td>
                        <td>Expert</td>
                     </tr>
                     <tr>
                        <td>
                           <input id="radioWageScaleOption1" required type="radio" name="radioWageScaleOption" value="Low" class="assist-Radio tooltipped"  style="vertical-align: middle;">
                           <label for="radioWageScaleOption1"><span class="inline-block-100px">Lowest Scale</span><br></label>
                        </td>
                        <td id="radioWageScaleOption1_junior"></td>
                        <td id="radioWageScaleOption1_journey"></td>
                        <td id="radioWageScaleOption1_senior"></td>
                        <td id="radioWageScaleOption1_expert"></td>
                     </tr>
                     <tr>
                        <td>
                           <input id="radioWageScaleOption2" type="radio" name="radioWageScaleOption" value="Med" class="assist-Radio tooltipped"  style="vertical-align: middle;">
                           <label for="radioWageScaleOption2"><span class="inline-block-100px">Medium Scale</span><br></label>
                        </td>
                        <td id="radioWageScaleOption2_junior"></td>
                        <td id="radioWageScaleOption2_journey"></td>
                        <td id="radioWageScaleOption2_senior"></td>
                        <td id="radioWageScaleOption2_expert"></td>
                     </tr>
                     <tr>
                        <td>
                           <input id="radioWageScaleOption3" type="radio" name="radioWageScaleOption" value="High" class="assist-Radio tooltipped"  style="vertical-align: middle;">
                           <label for="radioWageScaleOption3"><span class="inline-block-100px">Highest Scale</span><br></label>   
                        </td>
                        <td id="radioWageScaleOption3_junior"></td>
                        <td id="radioWageScaleOption3_journey"></td>
                        <td id="radioWageScaleOption3_senior"></td>
                        <td id="radioWageScaleOption3_expert"></td>
                     </tr>
                  </table>
                  
                  
                  
               </div>
            </div>
   
         </div>
      </div>

      <div class="box box_custom">
         <div id="fldBoxEstHours" class="box-content">
            <div class="assist-content">
               <b>Estimated Numbers of Hours</b>
            </div>
            <div id="columns" class="eachrows">
               <div class="left column labelList " id="fldEstimatedHours1_label">
                  <label  for="fldEstimatedHours1">Base Year<span class="required">*</span></label>
               </div>
               <div class="left column valueList ">
                  <input pattern="[0-9]+" required id="fldEstimatedHours1" name="estimatedHours1" allowexitwithoutsave="false" class="assist-long-item assist-textBox tooltipped" type="text" value="" size="8" maxlength="8">
                  <div id="fldEstimatedHours1_error" class="errorText ">
                  </div>
               </div>
            </div>
            <div id="columns" class="eachrows">
               <div class="left column labelList " id="fldEstimatedHours2_label">
                  <label  for="fldEstimatedHours2">Order Year 2<span class="required">*</span></label>
               </div>
               <div class="left column valueList ">
                  <input pattern="[0-9]+" required id="fldEstimatedHours2" name="estimatedHours1" allowexitwithoutsave="false" class="assist-long-item assist-textBox tooltipped" type="text" value="" size="8" maxlength="8">
                  <div id="fldEstimatedHours2_error" class="errorText ">
                  </div>
               </div>
            </div>
            <div id="columns" class="eachrows">
               <div class="left column labelList " id="fldEstimatedHours3_label">
                  <label  for="fldEstimatedHours3">Order Year 3<span class="required">*</span></label>
               </div>
               <div class="left column valueList ">
                  <input pattern="[0-9]+" required id="fldEstimatedHours3" name="estimatedHours3" allowexitwithoutsave="false" class="assist-long-item assist-textBox tooltipped" type="text" value="" size="8" maxlength="8">
                  <div id="fldEstimatedHours3_error" class="errorText ">
                  </div>
               </div>
            </div>
            <div id="columns" class="eachrows">
               <div class="left column labelList " id="fldEstimatedHours4_label">
                  <label for="fldEstimatedHours4">Order Year 4<span class="required">*</span></label>
               </div>
               <div class="left column valueList ">
                  <input pattern="[0-9]+" required id="fldEstimatedHours4" name="estimatedHours4" allowexitwithoutsave="false" class="assist-long-item assist-textBox tooltipped" type="text" value="" size="8" maxlength="8">
                  <div id="fldEstimatedHours4_error" class="errorText ">
                  </div>
               </div>
            </div>
            <div id="columns" class="eachrows">
               <div class="left column labelList " id="fldEstimatedHours5_label">
                  <label for="fldEstimatedHours5">Order Year 5<span class="required">*</span></label>
               </div>
               <div class="left column valueList ">
                  <input pattern="[0-9]+" required id="fldEstimatedHours5" name="estimatedHours5" allowexitwithoutsave="false" class="assist-long-item assist-textBox tooltipped" type="text" value="" size="8" maxlength="8">
                  <div id="fldEstimatedHours5_error" class="errorText ">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="box box_custom">
         <div id="fldBoxEstHours" class="box-content">
            
            <div id="columns" class="eachrows">
               <div class="left column labelList " id="fldEstimatedHours1_label">
                  <label id="comments" for="fldEstimatedHours1">Comments</label>
               </div>
               <div class="left column valueList ">
                  <textarea id="fldComments" name="comments" style="height: 100px;" rows="3" maxlength="2000"></textarea>
               </div>
            </div>
            <small>Click to populate the table below with the estimated wage data for your selections above.</small>
            <small>As needed, alter your selections in the above fields and click Generate Wages again to populate the table with additional entries.</small>
            <div id="columns" class="button_submit valueList">
               <button type="submit" class="ux-btn ux-btn-primary pull-right get_result_btn">Run</button>
            </div>
         </div>
      </div>
   </form>

   <!-- <div class="calc_loader">
      <div class="loader_item"></div>
   </div> -->

   <div class="results" style="padding: 10px;" class="bls_result">
      <div class="result_header">
         <div class="result_title">
            Pricing Information
         </div>
      </div>
      <h4 style="color:gray">IGCE Summary</h4>
      <table>
         <thead>
            <tr>
               <th>Occupation(SOC Code)</th>
               <th>E&Q Level</th>
               <th>MSA, State</th>
               <th>Wage Scale</th>
               <th>Indirect Rate Level</th>
               <th>Total T&M LCAT Estimate</th>
               <th>Comments</th>
            </tr>
         </thead>
         <tbody class="igce_summary">
            <tr>
               <th id="occ" >Occupation(SOC Code)</th>
               <th id="eandq" >E&Q Level</th>
               <th id="msa" >MSA, State</th>
               <th id="wagescale" >Wage Scale</th>
               <th id="in_rate_level" >Indirect Rate Level</th>
               <th id="lcat_est" >Total T&M LCAT Estimate</th>
               <th id="cmds" >Comments</th>
            </tr>
         </tbody>
      </table>



      <h4 style="color:gray">IGCE Details - Task Order Base Year</h4>
      <table>
         <thead>
            <tr>
               <th>Occupation(SOC Code)</th>
               <th>E&Q Level - LCAT Title</th>
               <th>MSA, State</th>
               <th>Estimated Hours</th>
               <th>Estimated Hourly Rate</th>
               <th>Total T&M LCAT Estimate</th>
            </tr>
         </thead>
         <tbody class="igce_details_1">
            <tr>
               <th class="result_occupation">Cost Estimators (13-1051)</th>
               <th class="result_eandq">JR-Business and Financial Operations Specialists, Group 4</th>
               <th class="result_msa">Connecticut</th>
               <th class="result_est_hour">1</th>
               <th class="result_est_hour_rate">$45.5</th>
               <th class="result_total">$45.5</th>
            </tr>
         </tbody>
      </table>

      <h4 style="color:gray">IGCE Details - Task Order Year <span class="order_year_2"></span></h4>
      <table>
         <thead>
            <tr>
               <th>Occupation(SOC Code)</th>
               <th>E&Q Level - LCAT Title</th>
               <th>MSA, State</th>
               <th>Estimated Hours</th>
               <th>Estimated Hourly Rate</th>
               <th>Total T&M LCAT Estimate</th>
            </tr>
         </thead>
         <tbody class="igce_details_2">
            <tr>
               <th class="result_occupation">Cost Estimators (13-1051)</th>
               <th class="result_eandq">JR-Business and Financial Operations Specialists, Group 4</th>
               <th class="result_msa">Connecticut</th>
               <th class="result_est_hour">1</th>
               <th class="result_est_hour_rate">$45.5</th>
               <th class="result_total">$45.5</th>
            </tr>
         </tbody>
      </table>

      <h4 style="color:gray">IGCE Details - Task Order Year <span class="order_year_3"></span></h4>
      <table>
         <thead>
            <tr>
               <th>Occupation(SOC Code)</th>
               <th>E&Q Level - LCAT Title</th>
               <th>MSA, State</th>
               <th>Estimated Hours</th>
               <th>Estimated Hourly Rate</th>
               <th>Total T&M LCAT Estimate</th>
            </tr>
         </thead>
         <tbody class="igce_details_3">
            <tr>
               <th class="result_occupation">Cost Estimators (13-1051)</th>
               <th class="result_eandq">JR-Business and Financial Operations Specialists, Group 4</th>
               <th class="result_msa">Connecticut</th>
               <th class="result_est_hour">1</th>
               <th class="result_est_hour_rate">$45.5</th>
               <th class="result_total">$45.5</th>
            </tr>
         </tbody>
      </table>

      <h4 style="color:gray">IGCE Details - Task Order Year <span class="order_year_4"></span></h4>
      <table>
         <thead>
            <tr>
               <th>Occupation(SOC Code)</th>
               <th>E&Q Level - LCAT Title</th>
               <th>MSA, State</th>
               <th>Estimated Hours</th>
               <th>Estimated Hourly Rate</th>
               <th>Total T&M LCAT Estimate</th>
            </tr>
         </thead>
         <tbody class="igce_details_4">
            <tr>
               <th class="result_occupation">Cost Estimators (13-1051)</th>
               <th class="result_eandq">JR-Business and Financial Operations Specialists, Group 4</th>
               <th class="result_msa">Connecticut</th>
               <th class="result_est_hour">1</th>
               <th class="result_est_hour_rate">$45.5</th>
               <th class="result_total">$45.5</th>
            </tr>
         </tbody>
      </table>

      <h4 style="color:gray">IGCE Details - Task Order Year <span class="order_year_5"></span></h4>
      <table>
         <thead>
            <tr>
               <th>Occupation(SOC Code)</th>
               <th>E&Q Level - LCAT Title</th>
               <th>MSA, State</th>
               <th>Estimated Hours</th>
               <th>Estimated Hourly Rate</th>
               <th>Total T&M LCAT Estimate</th>
            </tr>
         </thead>
         <tbody class="igce_details_5">
            <tr>
               <th class="result_occupation">Cost Estimators (13-1051)</th>
               <th class="result_eandq">JR-Business and Financial Operations Specialists, Group 4</th>
               <th class="result_msa">Connecticut</th>
               <th class="result_est_hour">1</th>
               <th class="result_est_hour_rate">$45.5</th>
               <th class="result_total">$45.5</th>
            </tr>
         </tbody>
      </table>
      <input type="button" onclick="goback()" value="Go Back" class="gobackbtn">
   </div>
   <div class="warnningbanner hidden">
      <h3>This Page Is Currently Under Maintenance</h3>
   </div>
  </div><!--card-->
</div><!--row-->

</div>
{% endblock %}
